div.machine{
    background-color:peru;
    border:dashed brown 3px;
    height: 400px;
    width:1000px ;
    
    margin:10%;
    
    display:flex;
}
#inpSpeed{
    font-size: 30pt;
    margin-left: 30px;
    width: 64px;
}
div.slot{
    height:250px;
    width:400px;
    margin-left : 20px;
    margin-right: 30px;
    margin-top: 45px;
    background-color: beige;
    border:solid darkblue 2px;
    text-align: center;
    line-height: 150px;
    font-size:90px;
    overflow: hidden;
}

button.working{
    width: 100px;
    margin-left: 3px;
    margin-top: 5px;
}
:root{
    --speed : 5;
}
.slot > .value{
    display: inline-block;
    animation: slotspin infinite ;
    animation-duration: calc(1s/var(--speed));
}


@keyframes slotspin {
    0%{
        transform:translateY(-350px);
    }
    100%{
        
        transform:translateY(350px);
    }
}



