div.machine{
    background-color:peru;
    border:dashed brown 3px;
    height: 250px;
    width:80% ;
    
    margin:10%;
    
    
    display:flex;
}

div.slot{
    height:150px;
    width:60%;
    margin : 10%;
    margin-top: 45px;
    background-color: beige;
    border:solid darkblue 2px;
    text-align: center;
    line-height: 150px;
}

@keyframes slotspin {
    0%{
        transform:translateY(-100px);
    }
    100%{
        transform:translateY(100px)
    }
}


@media (min-width:992px){
   div.machine{
       width:70%;
       height:100%;
       
   }
}
@media (min-width:768px) and (max-width:991px){
    div.machine{
        margin:10%;

    }
}
@media (max-width:767px){
    div.machine{
        width:80%;
        height:1000px;
        
    }
    div.slot{
        flex-wrap: nowrap;
        width:1000px;
        height: 150px;
        

    }
}